<!DOCTYPE html>
<html lang="en">
<head>
  
        <%- include('./component/head',{data:{title:'index page'}}); %>
    
    
</head>
<body>
    <div class="container">
        <div class="row pt-5">
            <div class="offset-sm-3 col-sm-6">
                <h3>forget password</h3>
            <form action="/forgetPassword" method="post">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter your email_id" required>
                </div>
            <input type="submit" value="submit">
            </div>
        </div>
    </form>
    </div>
    <%- include('./component/footer') %>
</body>
</html>